<div class="div-general">

  <div class="div-left">
  </div>
  <div class="div-rigth">
    <div class="div-rigth-part">
      <i class="bi bi-tools big"></i>
      <h3>Solicitar Instalacion</h3>
      <p>Solicita una instalacion y un asesor se contactara contigo en las siguientes 24 horas</p>
      <a href="http://clientes.portalinternet.io/solicitar-instalacion/solutec-jutiapa/" target="_blank" class="btn btn-primary">Llenar formuario</a>
    </div>
    <div class="div-rigth-part">
      <i class="bi bi-cash-stack big"></i>
      <h3>Consultar Saldo</h3>
      <p>Consulta tu saldo, usando numero telefonico, correo electronico, DPI, NIT o el nombre
        registrado</p>
        <a href="http://clientes.portalinternet.io/saldo/solutec-jutiapa/" target="_blank" class="btn btn-primary">Consultar saldo</a>
    </div>
    <div class="div-rigth-part">
      <i class="bi bi-box-arrow-in-right big "></i>
      <h3>Ingresar al Portal</h3>
      <p>Ingresa al portal y podras descargar tus facturas, ver consumos, crear tickets, sino tienes usuario,
        solicitalo!</p>
        <a href="https://clientes.portalinternet.io/accounts/login/?empresa=solutec-jutiapa" target="_blank" class="btn btn-primary">Ingresar al portal</a>
    </div>
    <div class="div-rigth-part">
      <i class="bi bi-map big"></i>
      <h3>Ver Cobertura</h3>
      <P>Conoce los lugares en los que actualmente brindamos nuestros servicios de internet residencial</P>
      <a href="http://clientes.portalinternet.io/saldo/solutec-jutiapa/" target="_blank" class="btn btn-primary disabled">Ver cobertura</a>
    </div>
  </div>

</div>
